
// Utils
@import "utilities/__import.scss";

// Variables
@import "variables/__import.scss";

// Mixins
@import "mixins/__import.scss";

// Components
@import "components/__import.scss";

// Elements
@import "elements/__import.scss";

// Modules
@import "modules/__import.scss";

// Views
@import "views/__import.scss";


.node-name {
    display: block;
    background: black;
    color: white;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.tech-item {
    font-size: 1.2rem;
}