// Utils
@import "utilities/__import.scss";

// Variables
@import "variables/__import.scss";

// Mixins
@import "mixins/__import.scss";


// Elements
html { font-size: 62.5% !important;
}
body {
    background-color: grey;
    height: 100%;
    color: map-get($colors, 'dark-grey');
    @include din(regular);
}

.site-footer,
.page-wrapper {
    display: none;
}

#upgradeBrowser {
    display: block;
}

body {
    background-color: grey;
    height: 100%;
    color: map-get($colors, 'dark-grey');
    @include din('regular');
}
.upgrade-browser {
    width: 500px;
    background-color: map-get($colors, 'background-grey');
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    text-align: left;
}
.red-block {
    background-color: map-get($colors, 'RM-red');
    padding: 20px 20px;
    color: white;
    font-size: 12px;
    margin-bottom: 15px;
}
.inner {
    padding: 10px 20px;
    text-align: center;
}

p {
    padding: 0 0 10px;
    font-size: 12px;
    line-height: 1.4;
}

h2 {
    margin: 0 0 15px;
}




#browserlist:before, #browserlist:after {
    content: "\0020";
    display: block;
    height: 0;
    visibility: hidden;
}

#browserlist:after {
    clear: both;
}

#browserlist {
    zoom: 1;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
}

#browserlist li {
    width: 113px;
    float: left;
    margin: 0;
    list-style: none;
    display: inline-block;
}
#browserlist li a {
    color: map-get($colors, 'dark-grey');
    text-decoration: none;
}

#browserlist li .icon {
    width: 60px;
    margin: 0 auto 20px;
}

#browserlist li a:hover .title {
    text-decoration: underline;
}

#browserlist li .icon img {
    width: 100%;
}

#browserlist li .title {
    padding: 0 0 10px;
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    display: block;
}

#browserlist li#chrome .icon {
    background-position: 0 0;
}

#browserlist li#firefox .icon {
    background-position: -125px 0;
}

#browserlist li#opera .icon {
    background-position: -250px 0;
}

#browserlist li#safari .icon {
    background-position: -375px 0;
}

#browserlist li#ie .icon {
    background-position: -500px 0;
}


